<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Market Micro Frontend</title>
<!--  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">-->
<!--  <link href="https://cdn.jsdelivr.net/npm/quasar@2.11.10/dist/quasar.prod.css" rel="stylesheet" type="text/css">-->
<!--  <link href="https://cdn.jsdelivr.net/npm/vue-router@4.0.11/dist/vue-router.global.prod.js">-->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
<!--  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>-->


  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "@tko/root-config": "//localhost:9000/tko-root-config.js",
        "@tko/market-nav": "http://localhost:8093/js/app.js",
        "@tko/market-products": "http://localhost:8094/js/app.js"
      }
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
</head>
<body>
<script>
  System.import('@tko/root-config');
</script>
</body>
</html>
