<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Market Micro Frontend</title>
  <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2838/2838895.png">
  <!-- Regenerator Runtime -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!-- SystemJS and import map -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "@tko/root-config": "//localhost:9000/tko-root-config.js",
        "@tko/market-nav": "http://localhost:8093/js/app.js",
        "@tko/market-products": "http://localhost:8094/js/app.js",
        "@tko/market-login": "http://localhost:8095/js/app.js",
        "@tko/market-boba": "http://localhost:8080/tko-market-boba.js"
      }
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
</head>
<body>
  <div id="single-spa-application:@tko/market-nav"></div>
  <div id="single-spa-application:@tko/market-products" style="padding: 48px"></div>
  <div id="single-spa-application:@tko/market-login"></div>
<!-- Start the application -->
<script>
  System.import('@tko/root-config');
</script>
</body>
</html>
